<?xml version="1.0"?>
<launch>
    <node name="oculus_driver" pkg="oculus_ros" type="ros_driver"/>
	<node name="gamepad" pkg="ardrone_gesture_control" type="controllerInput.py"/>
	<node name="ardrone_control" pkg="ardrone_gesture_control" type="joypad_control" output="screen">
        <param name="max_drone_speed_pitch" type="double" value="1.0"/>
        <param name="max_drone_speed_roll" type="double" value="1.0"/>
        <param name="max_drone_speed_yaw" type="double" value="1.0"/>
        <param name="max_drone_speed_updown" type="double" value="1.0"/>
    </node>
    <node name="oculus_viewer" pkg="oculus_ros" type="ros_viewer"/>
</launch>
